@model Dictionary<string, string>
@using Markdig
@{
    ViewData["Title"] = "Corebook";
}

<h1>Corebook</h1>

<div class="row">
    <div class="col-3">
        <div class="nav-pills nav flex-column" id="man-tab" role="tablist" aria-orientation="vertical">
            @for (int i = 0; i < Model.Count; i++)
            {
                if (i == 0)
                {
                    <a class="nav-link" id="@Model.ElementAt(i).Key" data-toggle="pill" href="#@Model.ElementAt(i).Key-content" role="tab" aria-controls="@Model.ElementAt(i).Key-content" aria-selected="true">@Model.ElementAt(i).Key</a>
                }
                else
                {
                    <a class="nav-link" id="@Model.ElementAt(i).Key" data-toggle="pill" href="#@Model.ElementAt(i).Key-content" role="tab" aria-controls="@Model.ElementAt(i).Key-content" aria-selected="false">@Model.ElementAt(i).Key</a>
                }
            }
        </div>
    </div>
    <div class="col-9 border-left">
        <div class="tab-content" id="man-content">
            @for (int i = 0; i < Model.Count; i++)
            {
                if (i == 0)
                {
                    <div class="tab-pane fade show active" id="@Model.ElementAt(i).Key-content" role="tabpanel" aria-labelledby="@Model.ElementAt(i).Key">@Model.ElementAt(i).Value</div>
                }
                else
                {
        <div class="tab-pane fade show active" id="@Model.ElementAt(i).Key-content" role="tabpanel" aria-labelledby="@Model.ElementAt(i).Key">@Model.ElementAt(i).Value</div>
                }
            }
        </div>
    </div>foreach
</div>